{% extends "layout.html" %}
{% block content %}

<img src="static/images/bgImage.jpg" alt="Car" style="width:100%">

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>Introduction</h1>
        </header>
        
        <div class="w3-container">
          <p>
            Leukaemia is cancer of blood-forming tissues, including bone marrow. Many types exist such as acute lymphoblastic leukaemia, acute myeloid leukaemia and chronic lymphocytic leukaemia.
            Many patients with slow-growing types of leukaemia don't have symptoms. Rapidly growing types of leukaemia may cause symptoms that include fatigue, weight loss, frequent infections and easy bleeding or bruising.
            Treatment is highly variable. For slow-growing leukaemias, treatment may include monitoring. For aggressive leukaemias, treatment includes chemotherapy that's sometimes followed by radiation and stem-cell transplant.	</p>
        </div>
        
        <footer class="w3-container w3-blue">
          <h5></h5>
        </footer>
        
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>About The Project</h1>
            </header>
            
            <div class="w3-container">
              <p>
                Leukemia is a cancer of the blood and bone marrow. In simple terms, cancer is defined as the uncontrolled growth of abnormal cells. Cancer can develop anywhere in the body. In leukemia, this rapid, out-of-control growth of abnormal cells takes place in the bone marrow of bones. These abnormal cells then spill into the bloodstream. Unlike other cancers, leukemia generally doesn’t form into a mass (tumor) that can be seen in imaging tests, such as X-rays.		</p>
            </div>
            
            <footer class="w3-container w3-blue">
              <h5></h5>
            </footer>
            
            </div>

    <div class="w3-container w3-center">
        <h2>Architecture Diagram</h2>
        <img src="static/images/block.png" alt="car" style="width:100%">
        <p>Figure1</p>
      </div>

{% endblock %}