{% extends "layout.html" %}
{% block content %}

<div class="w3-card-4 w3-margin">

    <header class="w3-container w3-blue">
      <h1>Upload Blood Sample</h1>
    </header>
    <img src="static/images/test_image.jpeg" alt="123" style="width:50%">
    <br>
    <form class="w3-container w3-margin" action="" method="post" enctype="multipart/form-data">
        <input class="w3-btn w3-blue-grey" type="file" name="photo" accept="image/*"/>
        <input class="w3-btn w3-blue-grey" name="sub" type="submit" value="Upload">
        <input class="w3-btn w3-blue-grey" name="sub" type="submit" value="Test">
    </form>

    <br>
    <footer class="w3-container w3-blue">
      <h5></h5>
    </footer>
    
    </div>

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>Prediction</h1>
        </header>
        
        <div class="w3-container">
          <p>{{ result1 }}
        </p>
        </div>
    
        
        <footer class="w3-container w3-blue">
          <h5></h5>
        </footer>
      </div>
        <!--div class="w3-card-4 w3-margin">

          <header class="w3-container w3-blue">
            <h1>VGG16 CNN</h1>
          </header>
          
          <div class="w3-container">
            <p>{{ result2 }}
          </p>
          </div>
           
          <footer class="w3-container w3-blue">
            <h5></h5>
          </footer>
        </div>
          <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>Resnet CNN</h1>
            </header>
            
            <div class="w3-container">
              <p>{{ result3 }}
            </p>
            </div>
            
            <footer class="w3-container w3-blue">
              <h5></h5>
            </footer>
          </div-->
  

    {% endblock %}